/* Rubik Font Family */
body, h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Rubik', sans-serif !important;
}
/* Original Header Style */
html {
  scroll-behavior: smooth;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header a {
  color: white;
  text-decoration: none;
}
.img-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-issues{
  width: 200px;
  margin-left: auto;
}
.img-heuristic{
  width: 400px;
  margin-left: auto;
}
.img-matrix {
  width: 400px;
  margin-left: auto;
}
.img-empathy {
  width: 400px;
  margin-top: auto;
}
.img-user {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-userflow {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-site {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-welcome{
  width: 400px;
  margin-top: auto;
}
.img-midfidelity{
  width: 600px;
  margin-left: auto;
}
.img-styles {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-des2 {
  width: 550px;
  margin-top: auto;
}
.img-des3 {
  width: 550px;
  margin-left: auto;
}
.img-homewire {
  width: 550px;
  margin-top: auto;
}
.img-des1 {
  width: 450px;
  margin-left: auto;
}
.img-midwire {
  width: 550px;
  margin-top: auto;
}
.img-testimonial {
  width: 550px;
  margin-left: auto;
}






/* Custom CSS */
.brief_labels {
  color: #333;
}

.goal {
  font-weight: 500;
  color: #333;
}

.quickLink {
  background-color: lightgray !important;
  border: 2px solid lightgray !important;
  color: #333 !important;
  font-weight: 500;
  
}

.quickLink:hover {
  color: ghostwhite !important;
  background-color: #333 !important;
  border: 2px solid #333 !important;
  font-weight: 500;
}

.statement {
  border: 3px solid black !important;
  border-radius: 4% !important;
}